{% load static %}

<style>
  .sidebar .logo a.logo-mini {
    margin-top: 8px!important;
}
</style>
 <div class="sidebar">
  {% comment %} <div class="logo">
   <a href="{% url 'admin_home' %}" class="simple-text logo-mini">
      <img src="{% static 'admin/img/logo.png' %}" alt="">

    </a>
    <a href="dashboard.php" class="simple-text logo-normal">
      <span>M</span> Panel 
    </a>
  </div> {% endcomment %}
      <div class="logo">
        <a href="http://www.creative-tim.com/" class="simple-text logo-mini">
        SP   
      </a>
      <a href="dashboard.php" class="simple-text logo-normal">
        <span>Student</span> Panel 
      </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item {% if request.path == student_home %} active {% endif %}" id="dashboard-li">
            {% url 'student_home' as student_home %}
            <a class="nav-link" href="{{ student_home }}">
              <i class="material-icons">dashboard</i>
              <p> Dashboard </p>
            </a>
          </li>
          <li class="nav-item {% if request.path == student_view_attendance %} active {% endif %}" id="attendance-li">
            {% url 'student_view_attendance' as student_view_attendance %}
            <a class="nav-link" href="{{ student_view_attendance }}">
              <i class="fa fa-users" aria-hidden="true"></i>
              <p>View Attendance</p>
            </a>
          </li>

          <li class="nav-item {% if request.path == student_view_result %} active {% endif %}" id="result-li">
            {% url 'student_view_result' as student_view_result %}
            <a class="nav-link" href="{{ student_view_result }}">
              <i class="fa fa-users" aria-hidden="true"></i>
              <p>View Result</p>
            </a>
          </li>

          <li class="nav-item {% if request.path == student_apply_leave %} active {% endif %}" id="student-leave-li">
            {% url 'student_apply_leave' as student_apply_leave %}
            <a class="nav-link" href="{{ student_apply_leave }}">
              <i class="material-icons">person</i>
              <p> Apply for Leave </p>
            </a>
          </li>

          <li class="nav-item {% if request.path == student_feedback %} active {% endif %}" id="student-feedback-li">
            {% url 'student_feedback' as student_feedback %}
            <a class="nav-link" href="{{ student_feedback }}">
              <i class="material-icons">person</i>
              <p> Send Feedback </p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout_user' %}">
              <i class="material-icons">logout</i>
              <p>Log Out</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="sidebar-background"></div>
    </div>