{% extends 'student_template/base_template.html' %}

{% block page_title %}
    Update Profile
{% endblock page_title %}

{% block main_content %}

{% load static %}

{% include 'error-sucess-messages.html' %}

<div class="content">
   <div class="content">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-8">
               <div class="card">
                  <div class="card-header card-header-icon card-header-rose">
                  <div class="card-icon">
                     <i class="material-icons">perm_identity</i>
                  </div>
                  <h4 class="card-title">Update Profile-
                     <small class="category">Complete your profile</small>
                  </h4>
                  </div>
                  <div class="card-body">
                  <form role="form" method="POST" action="{% url 'staff_profile_update' %}">
                        {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                        <div class="form-group">
                           <label class="bmd-label-floating">Fist Name</label>
                           <input type="text" class="form-control" name="first_name" value="{{ user.first_name }}">
                        </div>
                        </div>
                        <div class="col-md-6">
                        <div class="form-group">
                           <label class="bmd-label-floating">Last Name</label>
                           <input type="text" class="form-control" name="last_name" value="{{ user.last_name }}">
                        </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                        <div class="form-group">
                           <label class="bmd-label-floating">Username</label>
                           <input type="text" class="form-control" name="username" value="{{ user.username }}" disabled="disabled">
                        </div>
                        </div>
                        <div class="col-md-6">
                        <div class="form-group">
                           <label class="bmd-label-floating">Email Address</label>
                           <input type="email" class="form-control" name="email" value="{{ user.email }}" disabled="disabled">
                        </div>
                        </div>
                     </div>
                     
                     <div class="row">
                        <div class="col-md-6">
                        <div class="form-group">
                           <label class="bmd-label-floating">Password</label>
                           <input type="password" class="form-control" name="password">
                        </div>
                        </div>
                     </div>
                    <div class="row">
                        <div class="col-md-12">
                        <div class="form-group">
                           <label>Address</label>
                           <div class="form-group">
                              <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                              <textarea class="form-control" name="address" rows="5">{{ user.address }}</textarea>
                           </div>
                        </div>
                        </div>
                     </div>

                     <button type="submit" class="btn btn-rose pull-right">Update Profile</button>
                     <div class="clearfix"></div>
                  </form>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="card card-profile">
                  <div class="card-avatar">
                  <a href="#pablo">
                     <img class="img" src="{% static 'admin/img/faces/marc.jpg' %}" />
                  </a>
                  </div>
                  <div class="card-body">
                  <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                  <h4 class="card-title">Alec Thompson</h4>
                  <p class="card-description">
                     Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                  </p>
                  <a href="#pablo" class="btn btn-rose btn-round">Follow</a>
                  </div>
               </div>
            </div>
         </div>
    </div>
  </div>
</div>
<script>
    document.getElementById("student-profile-li").classList.add("active");
</script>
  {% endblock main_content %}