{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Add Course
{% endblock page_title %}

{% block main_content %}

{% load static %}
{% include 'error-sucess-messages.html' %}

  <div class="content">
    <div class="container-fluid">

      <div class="row">
         <div class="col-md-12 text-right">
            <a href="{% url 'manage_course' %}" class="btn btn-rose"><b>Back</b></a>
         </div>
      </div>
      <div class="row">

        <div class="col-md-12">
            <form role="form" method="POST" action="{% url 'add_course_save' %}" id="save-form">
                {% csrf_token %}
               <div class="card ">
                  <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                         <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title">Add Course</h4>
                  </div>
                  <div class="card-body ">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="form-group">
                              <!-- <label>First Name</label> -->
                              <input type="text" class="form-control" name="course" placeholder="Course Name" required>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="card-footer">
                     <button type="submit" class="btn btn-rose">Create</button>
                  </div>
               </div>
            </form>
        </div>
    </div>
  </div>

  {% endblock main_content %}

  {% block custom_js %}
    {% comment %} Checking if email and username already exists or not usin Ajax {% endcomment %}
<script>
    document.getElementById("course-add-li").classList.add("active");
</script>
    

  {% endblock custom_js %}