{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Add Staff
{% endblock page_title %}

{% block main_content %}

{% load static %}

{% include 'error-sucess-messages.html' %}
<div class="content">
  <div class="content">
    <div class="container-fluid">

      <div class="row">
         <div class="col-md-12 text-right">
            <a href="{% url 'manage_staff' %}" class="btn btn-rose"><b>Back</b></a>
         </div>
      </div>
      <div class="row">

         <div class="col-md-12">
            <form role="form" method="POST" action="{% url 'add_staff_save' %}" id="save-form">
                {% csrf_token %}
               <div class="card ">
                  <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                         <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title">Add Staff</h4>
                  </div>
                  <div class="card-body ">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="form-group">
                              <!-- <label>First Name</label> -->
                              <input type="text" class="form-control" name="first_name" placeholder="First Name" required>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                               <!--  <label>Last Name</label> -->
                                <input type="text" class="form-control" name="last_name" placeholder="Last Name" required>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                              <!-- <label for="email"> Email Address *</label> -->
                              <input type="email" class="form-control" name="email" placeholder="Enter email" id="id_email" required>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                              <!-- <label class="username">Username</label> -->
                              <input type="text" class="form-control" name="username" placeholder="Username" id="id_username" required>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                              <!-- <label>Password</label> -->
                              <input type="password" class="form-control" name="password" placeholder="Password" required>
                           </div>
                        </div>
                        
                        <div class="col-md-6">
                           <div class="form-group">
                                <!-- <label>Address</label> -->
                                <textarea class="form-control" name="address" placeholder="Address" required></textarea>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="card-footer">
                     <button type="submit" class="btn btn-rose">Create</button>
                  </div>
               </div>
            </form>
         </div>

      </div>
    </div>
  </div>
</div>
  {% endblock main_content %}

    {% block custom_js %}
    {% comment %} Checking if email and username already exists or not usin Ajax {% endcomment %}

<script>
  document.getElementById("staff-add-li").classList.add("active");
</script>
<script>

    $(document).ready(function(){
        // keyup event will be triggered when user leaves keyboard
        $("#id_email").keyup(function(){
        var email = $(this).val();
        if(email.length==0){
            $(".email_error").remove();
            $("<span class='email_error' style='color: red; padding: 5px; font-weight: bold;'>Please Enter Email Address. </span>").insertAfter("#id_email");
        }else{
            var check = validateEmail(email);
            if(check == false){
              $(".email_error").remove();
              $("<span class='email_error' style='color: red; padding: 5px; font-weight: bold;'>Please Enter Valid Email Address. </span>").insertAfter("#id_email");
        }else{

            if(email!=""){
                $.ajax({
                    url : '{% url 'check_email_exist' %}',
                    type : 'POST',
                    data : {email:email}
                })
                .done(function(response){
                    //console.log(response);

                    if(response == "True"){
                        $(".email_error").remove();
                        $("<span class='email_error' style='color: red; padding: 5px; font-weight: bold;'> Email Already Exist. </span>").insertAfter("#id_email")
                    } 
                    else{
                        $(".email_error").remove();
                        $("<span class='email_error' style='color: green; padding: 5px; font-weight: bold;'> Valid Email. </span>").insertAfter("#id_email")
                    }
                })

                .fail(function(){
                    console.log("Failed");
                })
            }
            else{
                $(".email_error").remove();
            }
        }
        }
            
        })

        $("#id_username").keyup(function(){
            var username = $(this).val();
            
            if(username!=""){
                $.ajax({
                    url : '{% url 'check_username_exist' %}',
                    type : 'POST',
                    data : {username:username}
                })
                .done(function(response){
                    //console.log(response);
                    if(response == "True"){
                        $(".username_error").remove();
                        $("<span class='username_error' style='color: red; padding: 5px; font-weight: bold;'> Username Already Exist. </span>").insertAfter("#id_username")
                    }
                    else{
                        $(".username_error").remove();
                        $("<span class='username_error' style='color: green; padding: 5px; font-weight: bold;'> Username Available. </span>").insertAfter("#id_username")
                    }
                })

                .fail(function(){
                    console.log("Failed");
                })
            }
            else{
                $(".username_error").remove();
            }
            
        })
    })  

 function validateEmail(email) {
  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/; 
  return regex.test(email);
}



/*  $(document).on('submit', '#save-form, #edit-form', function (e) {
e.preventDefault();
var image = $('input[name="image"]');
var url = $(this).attr('action'),
alert(url);
post = $(this).attr('method'),
formData = new FormData(this);
formData.append('file', image);
$('button[type="submit"]').attr('disabled',true);
$.ajax({
    url: url,
    method: post,
    data: formData,       
    success:function(response)
    {
        //console.log(response.redirect_url);
        $('button[type="submit"]').attr('disabled',false);
        if(response.status=='error')
        {
            demo.showNotification('bottom','right','danger', response.msg); 
        }else{
            demo.showNotification('bottom','right','success', response.msg); 
            //setTimeout(function(){ location.reload(); }, 1000);
            //window.location.href= response.redirect_url;
        }  
    },
    error:function(response){
        $('button[type="submit"]').attr('disabled',false);
        demo.showNotification('bottom','right','danger', response.msg);
    },
    processData: false,
    contentType: false
});
});*/
</script>

  {% endblock custom_js %}