{% load static %}

<style>
  .sidebar .logo a.logo-mini {
    margin-top: 8px!important;
}
</style>
 <div class="sidebar">
  {% comment %} <div class="logo">
   <a href="{% url 'admin_home' %}" class="simple-text logo-mini">
      <img src="{% static 'admin/img/logo.png' %}" alt="">

    </a>
    <a href="dashboard.php" class="simple-text logo-normal">
      <span>M</span> Panel 
    </a>
  </div> {% endcomment %}
      <div class="logo">
        <a href="http://www.creative-tim.com/" class="simple-text logo-mini">
        MP   
      </a>
      <a href="dashboard.php" class="simple-text logo-normal">
        <span>M</span> Panel 
      </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item" id="dashboard-li">
            {% url 'admin_home' as admin_home %}
            <a class="nav-link" href="{{ admin_home }}">
              <i class="material-icons">dashboard</i>
              <p> Dashboard </p>
            </a>
          </li>
          <li class="nav-item" id="manage_staff-li">
            {% url 'manage_staff' as manage_staff %}
            {% url 'edit_staff' staff_id=id as edit_staff %}
            <a class="nav-link" href="{{ manage_staff }}">
              <i class="fa fa-users" aria-hidden="true"></i>
              <p>Manage Staff</p>
            </a>
          </li>
          <li class="nav-item" id="staff-add-li">
            <a class="nav-link" href="{% url 'add_staff' %}">
              <i class="material-icons">person</i>
              <p> Add Staff </p>
            </a>
          </li>
          
          <li class="nav-item {% if request.path == manage_student %} active {% endif %} {% if request.path == edit_student %} active {% endif %}" id="manage-student-li">
             {% url 'manage_student' as manage_student %}
              {% url 'edit_student' student_id=id as edit_student %}
            <a class="nav-link" href="{{ manage_student }}">
              <i class="material-icons">person</i>
              <p> Manage Student </p>
            </a>
          </li>
          <li class="nav-item {% if request.path == add_student %} active {% endif %}" id="student-add-li">
             {% url 'add_student' as add_student %}
            <a class="nav-link" href="{{ add_student }}">
              <i class="material-icons">person</i>
              <p> Add Student </p>
            </a>
          </li>
          
          <li class="nav-item {% if request.path == manage_course %} active {% endif %} {% if request.path == edit_course %} active {% endif %}" id="course-li">
            {% url 'manage_course' as manage_course %}
            {% url 'edit_course' course_id=id as edit_course %}
            <a class="nav-link" href="{{ manage_course }}">
              <i class="material-icons">person</i>
              <p>Manage Course </p>
            </a>
          </li>
          <li class="nav-item {% if request.path == add_course %} active {% endif %}" id="course-add-li">
            {% url 'add_course' as add_course %}
            <a class="nav-link" href="{{ add_course }}">
              <i class="material-icons">person</i>
              <p> Add Course</p>
            </a>
          </li>

          <li class="nav-item" id="subject-li">
            {% url 'manage_subject' as manage_subject %}
            {% url 'edit_subject' subject_id=id as edit_subject %}
            <a class="nav-link" href="{{ manage_subject }}">
              <i class="material-icons">person</i>
              <p>Manage Subject </p>
            </a>
          </li>
          <li class="nav-item" id="subject-add-li">
            {% url 'add_subject' as add_subject %}
            <a class="nav-link" href="{{ add_subject }}">
              <i class="material-icons">person</i>
              <p> Add Subject</p>
            </a>
          </li>
         
          <li class="nav-item {% if request.path == manage_session %} active {% endif %} {% if request.path == edit_session %} active {% endif %}" id="session-li">
            {% url 'manage_session' as manage_session %}
            {% url 'edit_session' session_id=id as edit_session %}
            <a class="nav-link" href="{{ manage_session }}">
              <i class="material-icons">event</i>
              <p>Manage Session </p>
            </a>
          </li>
          <li class="nav-item {% if request.path == add_session %} active {% endif %}" id="session-add-li">
            {% url 'add_session' as add_session %}
            <a class="nav-link" href="{{ add_session }}">
              <i class="material-icons">comment</i>
              <p>Add Session</p>
            </a>
          </li>

          <li class="nav-item {% if request.path == admin_view_attendance %} active {% endif %}" id="attendance-li">
            {% url 'admin_view_attendance' as admin_view_attendance %}
            <a class="nav-link" href="{{ admin_view_attendance }}">
              <i class="material-icons">event</i>
              <p>View Attendance </p>
            </a>
          </li>

          <li class="nav-item {% if request.path == student_feedback_message %} active {% endif %}" id="student-feedback-li">
            {% url 'student_feedback_message' as student_feedback_message %}
            <a class="nav-link" href="{{ student_feedback_message }}">
              <i class="material-icons">comment</i>
              <p>Student Feedback</p>
            </a>
          </li>

          <li class="nav-item {% if request.path == staff_feedback_message %} active {% endif %}" id="staff-feedback-li">
            {% url 'staff_feedback_message' as staff_feedback_message %}
            <a class="nav-link" href="{{ staff_feedback_message }}">
              <i class="material-icons">comment</i>
              <p>Staff Feedback</p>
            </a>
          </li>

          <li class="nav-item {% if request.path == student_leave_view %} active {% endif %}" id="student-leave-li">
            {% url 'student_leave_view' as student_leave_view %}
            <a class="nav-link" href="{{ student_leave_view }}">
              <i class="material-icons">comment</i>
              <p>Student Leave</p>
            </a>
          </li>

          <li class="nav-item {% if request.path == staff_leave_view %} active {% endif %}" id="staff-leave-li">
            {% url 'staff_leave_view' as staff_leave_view %}
            <a class="nav-link" href="{{ staff_leave_view }}">
              <i class="material-icons">comment</i>
              <p>Staff Leave</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout_user' %}">
              <i class="material-icons">logout</i>
              <p>Log Out</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="sidebar-background"></div>
    </div>